**if, elif and else statements**

In [2]:
if True:
    print('true')

true

In [3]:
if 3 > 2:
    print('True')

True

In [4]:
hungry = True

if hungry:
    print('feed me')

feed me

In [5]:
hungry = False 

if hungry:
    print('feed me')

In [8]:
hungry = False

if hungry:
    print('feed me')
else:
    print('i am not hungry')

i am not hungry

In [10]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('cars are cool')
elif loc == 'Bank':
    print('money is cool')
else:
    print(' i do not know much')

money is cool

**For Loops**

In [11]:
l = [1,2,3,4,5,6,7,8,9,10]

In [12]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in l:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [16]:
for i in l:
    if i % 2 == 0:
        print(i)
    else:
        print(f'Odd number : {i}')

Odd number : 1
2
Odd number : 3
4
Odd number : 5
6
Odd number : 7
8
Odd number : 9
10

In [19]:
list_sum = 0
for i in l :
    list_sum = list_sum + i
    print(list_sum)
print("\n",list_sum)

1
3
6
10
15
21
28
36
45
55

 55

In [21]:
s = 'hello world'

for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [22]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [23]:
t = (1,2,3)

for i in t:
    print(i)

1
2
3

In [24]:
l1 = [(1,2),(3,4),(5,6),(7,8)]

In [25]:
len(l1)

4

In [29]:
for i in l1:
    print(l1)

[(1, 2), (3, 4), (5, 6), (7, 8)]
[(1, 2), (3, 4), (5, 6), (7, 8)]
[(1, 2), (3, 4), (5, 6), (7, 8)]
[(1, 2), (3, 4), (5, 6), (7, 8)]

In [30]:
for (a,b) in l1:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [31]:
d = {'k1':1,"k2":2, 'k3':3}
for i in d:
    print(i)

k1
k2
k3

In [32]:
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [34]:
for (key,value) in d:
    print(key)
    print(value)

k
1
k
2
k
3

In [35]:
for i in d.values():
    print(i)

1
2
3

**While loops**

In [39]:
x = 0

while x < 5:
    print(x)
    x = x + 1
else:
    print('x is not less than 5')

0
1
2
3
4
x is not less than 5

**break, continue and pass**

In [40]:
x = [1,2,3]

for i in x:

_IncompleteInputError: incomplete input (772340078.py, line 3)

In [43]:
x = [1,2,3]
for i in x:
    pass

In [45]:
s = 'pratik'

for i in s:
    if i == 'a':
        continue
    print(i)

p
r
t
i
k

In [46]:
s = 'pratik'

for i in s:
    if i == 'a':
        break
    print(i)

p
r

In [50]:
x = 0
while x < 5:

    if x == 2:
        break
    print(x)
    x = x + 1

0
1

**Useful Operators in python**

In [51]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [54]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [55]:
range(0,10,2)

range(0, 10, 2)

In [56]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [57]:
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [59]:
word = 'abcde'

for i in enumerate(word):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [58]:
for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

**Zip**

In [60]:
l2 = [1,2,3]
l3 = ['a', 'b', 'c']

In [63]:
zip(l2,l3)

In [66]:
for i in zip(l2, l3):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [64]:
'x' in l2

False

In [65]:
'a' in l3

True

In [70]:
'a'  in 'world  a'

True

In [71]:
d = {'k1':2}

In [72]:
2 in d.values()

True

In [73]:
'k1' in d

True

In [74]:
min(l2)

1

In [76]:
max(l2)

3

In [77]:
from random import shuffle

In [78]:
l4 = [1,2,3,4,5,6,7,8,9]
random_l = shuffle(l4)

In [81]:
random_l

In [82]:
l4

[8, 6, 2, 9, 4, 7, 1, 3, 5]

In [83]:
from random import randint

In [84]:
randint(0,100)

97

In [85]:
n = randint(0,100)

In [86]:
n

66

In [88]:
n1 = input('enter n:')

In [90]:
n1

'5'

In [91]:
n1 = int(input('enter n:'))

In [92]:
n1

5

**List Comprehension**

In [93]:
s = 'hello'

In [94]:
l = []

for i in s:
    l.append(i)

In [95]:
l

['h', 'e', 'l', 'l', 'o']

In [98]:
l = [element for element in s]

In [99]:
l

['h', 'e', 'l', 'l', 'o']

In [100]:
l1 = [num for num in range(0,11)]

In [101]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [102]:
l1 = [num**2 for num in range(0,11)]

In [103]:
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [104]:
l4 = [ x for x in range(0,11) if x%2 == 0]

In [105]:
l4

[0, 2, 4, 6, 8, 10]

In [110]:
celcius = [0,10,20,30,40]

fahrenhit = [(9/5)*temp + 32 for temp in celcius]
fahrenhit

[32.0, 50.0, 68.0, 86.0, 104.0]