**Exercise 1:**

**Create a list with values ranging from 0 to 9.**

In [2]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Exercise 2:**

**Convert a list of integers to a list of strings.**

In [4]:
lst = [1, 2, 3, 4, 5]

for i in range(len(lst)):
    lst[i] = str(lst[i])

lst

['1', '2', '3', '4', '5']

**Exercise 3:**

**Multiply all elements in a list by 2.**

In [6]:
lst = [1, 2, 3, 4, 5]

new_lst = [i * 2 for i  in lst]
new_lst

[2, 4, 6, 8, 10]

**Exercise 4:**

**Calculate the sum of the diagonal elements of a 3x3 matrix (list of lists).**

In [7]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

sum = 0

for i in range(len(matrix)):
    for j in range(len(matrix)):
        if i == j :
            sum += matrix[i][j]

sum

15

**Exercise 5:**

**Create a 3x3 identity matrix as a list of lists.**

In [16]:
identity_matrix = [[],[],[]]
for i in range(3):
    for j in range(3):
        if i == j :
            identity_matrix[i].append(1)
        else:
            identity_matrix[i].append(0) 
identity_matrix

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]