**Methods**

In [1]:
my_list = [1,2,3]

In [2]:
my_list.append(4)

In [3]:
my_list

[1, 2, 3, 4]

In [4]:
my_list.pop()
my_list

[1, 2, 3]

In [ ]:
my_list.insert()

**Functions**

In [5]:
def say_hello():
    print('hello')

In [6]:
say_hello()

hello

In [7]:
say_hello

In [8]:
def say_hello(name):
    print(f"hello {name}")

In [9]:
say_hello('pratik')

hello pratik

In [10]:
def add_num(num1,num2):
    return num1 + num2

In [14]:
add_num(10,20)

30

In [12]:
result  = add_num(10,20)

In [13]:
print((result))

30

In [15]:
add_num('10','20')

'1020'

**Functions with logic**

In [16]:
2 % 2

0

In [17]:
3 % 2

1

In [18]:
20 % 2 == 0

True

In [23]:
def even_check(num):
    return num % 2 == 0

In [24]:
even_check(22)

True

In [25]:
even_check(41)

False

In [28]:
def check_even_list(num_list):
    for i in num_list:
        if i % 2 == 0:
            return True
        else:
            pass

In [29]:
check_even_list([1,2,3,4,5,6])

True

In [30]:
check_even_list([1,3,5])

In [31]:
check_even_list([2,4,6])

True

In [32]:
check_even_list([2])

True

In [33]:
def check_even_list(num_list):
    for i in num_list:
        if i % 2 == 0:
            return True
        else:
            pass
    return False

In [34]:
check_even_list([1,2,5])

True

In [35]:
check_even_list([1,3,5])

False

In [36]:
def check_even_list(num_list):

    even_numbers = []

    for i in num_list:
        if i % 2 == 0:
            even_numbers.append(i)
        else:
            pass
    return even_numbers

In [37]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

In [38]:
stock_price = [('apple',200),('gog',400),('mst',100)]

In [39]:
for i in stock_price:
    print(i)

('apple', 200)
('gog', 400)
('mst', 100)

In [41]:
for ticker,price in stock_price:
    print(ticker)

apple
gog
mst

In [43]:
for ticker,price in stock_price:
    print(0.1*price)

20.0
40.0
10.0

In [44]:
work_hours = [ ('abhy',100),('billy',150),('joy',125)]

In [45]:
def employee_of_month(work_hours):

    current_max = 0
    employee_of_month = ''

    for name,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = name
    return(employee_of_month,current_max)

In [47]:
employee_of_month(work_hours)

('billy', 150)

In [48]:
result = employee_of_month(work_hours)

In [49]:
result

('billy', 150)

In [50]:
name,hours = employee_of_month(work_hours)

In [51]:
name

'billy'

In [52]:
hours

150

In [53]:
name,hours, location = employee_of_month(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

**Interaction between Functions**

In [68]:
example = [1,2,3,4,5,6,7]

In [55]:
from random import shuffle

In [56]:
shuffle(example)

In [64]:
example

[2, 3, 6, 5, 4, 1, 7]

In [71]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [72]:
result = shuffle_list(example)
print(result)

[7, 1, 5, 4, 3, 6, 2]

In [73]:
my_list = ['','','o']

In [74]:
shuffle_list(my_list)

['', 'o', '']

In [76]:
def player_guess():
    guess = ''

    while guess not in ['0','1','2']:
        guess = input('pick a number 0,1 or 2')
    
    return int(guess)

In [77]:
player_guess()

2

In [78]:
def check_guess(my_list,guess):
    if my_list[guess]  == 'o':
        print('correct')
    else:
        print('wrong guess')
        print(my_list)

In [82]:
#initial list
my_list = ['','o','']

#shuffle list
mixedup_list = shuffle_list(my_list)

#user guess
guess = player_guess()

#check guess
check_guess(mixedup_list,guess)

correct

***args and** ****kwargs**

In [95]:
def my_func(a, b,c=0, d=0, e=0):
    return sum((a,b,c,d,e))*0.05

In [96]:
my_func(40,60,100)

10.0

In [99]:
def myfunc(*args):
    return sum(args) * 0.05

In [101]:
myfunc(40,60,5,100)

10.25

In [102]:
def myfunc(*args):
    for i in args:
        print(i)

In [103]:
myfunc(10,60,546,54)

10
60
546
54

In [110]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print(1)
    else:
        print(0)

In [111]:
myfunc(fruit='apple',veggie='potato',maggie='nestle')

{'fruit': 'apple', 'veggie': 'potato', 'maggie': 'nestle'}
1

**Lambda function , map and filter function**

In [1]:
def square(num):
    return num ** 2

In [2]:
my_nums = [1,2,3,4,6]

In [3]:
map(square,my_nums)

In [6]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
36

In [8]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'Even'
    else:
        return mystring

In [9]:
names = ['ady','peter','tony']

In [10]:
list(map(splicer,names))

['ady', 'peter', 'Even']

In [12]:
def check_even(num):
    return num%2 == 0

In [13]:
mynums = [1,2,3,4,5,6]

In [14]:
filter(check_even,my_nums)

In [16]:
for i in filter(check_even,my_nums):
    print(i)

2
4
6

In [17]:
def square(num):
    return num ** 2

In [18]:
def square(num) : return num ** 2

In [19]:
square(3)

9

In [21]:
square = lambda num: num ** 2

In [22]:
square(5)

25

In [24]:
list(map(lambda num:num ** 2,my_nums))

[1, 4, 9, 16, 36]

In [25]:
list(filter(lambda num : num % 2 == 0,mynums))

[2, 4, 6]

**Nested Statements and Scopes**

In [26]:
x = 25
def printer():
    x=50
    return x

In [27]:
print(x)

25

In [28]:
print(printer())

50

LEGB Rule:

L: Local — Names assigned in any way within a function (def or lambda), and not declared global in that function.

E: Enclosing function locals — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.

G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.

B: Built-in (Python) — Names preassigned in the built-in names module : open, range, SyntaxError,...

*Local*

In [29]:
# x is local here:
f = lambda x:x**2

*Enclosing function locals*

This occurs when we have a function inside a function (nested functions)

In [30]:
name = 'This is a global name'

def greet():
    # Enclosing function
    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
    
    hello()

greet()

Hello Sammy

*Global*

Luckily in Jupyter a quick way to test for global variables is to see if another cell recognizes the variable!

In [31]:
print(name)

This is a global name

*Local Variables*

In [32]:
x = 50

def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)

func(x)
print('x is still', x)

x is 50
Changed local x to 2
x is still 50

*The global statement*

In [33]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

Before calling func(), x is:  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 2
Value of x (outside of func()) is:  2