**1. Maximum of Three Numbers**

Write a Python function to find the maximum of three numbers.

In [6]:
def max_of_three(n1, n2, n3):

    if n1 > n2 and n1 > n3:
        return f"Number 1({n1}) is maximum"
    elif n2 > n1 and n2 > n3:
        return f"Number 2({n2}) is maximum"
    else:
        return f"Number 3({n3}) is maximum"

In [7]:
max_of_three(10,2,30)

'Number 3(30) is maximum'

In [8]:
max_of_three(10,200,30)

'Number 2(200) is maximum'

In [9]:
max_of_three(100,2,30)

'Number 1(100) is maximum'

**2. Sum All Numbers in a List**

Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [11]:
def sum_of_all(l):
    sum = 0
    for i in l:
        sum += i
    print('sum of all values in list:',sum)

In [12]:
sum_of_all([1,2,3,4,5,6,7,8,9,10])

sum of all values in list: 55