**1. Employee NamedTuple**

Write a Python program that defines a NamedTuple called Employee with fields like name, age, and country. Print each employee's name and country.

In [1]:
from collections import namedtuple

In [6]:
Employee = namedtuple('Employee', ['name', 'age', 'country'])

employees = [
    Employee("Pratik", 25, "India"),
    Employee("Amit", 30, "USA"),
    Employee("Nisarg", 28, "Canada")
]

for emp in employees:
    print(f"Name: {emp.name}, Country: {emp.country}")

Name: Pratik, Country: India
Name: Amit, Country: USA
Name: Nisarg, Country: Canada

In [7]:
print(employees[0].name)

Pratik