**Iterate over an Enum class and display members and values**

ber and their value.

Expected Output:

Afghanistan = 93

Albania = 355

Algeria = 213

Andorra = 376

Angola = 244

Antarctica = 672

In [2]:
from enum import Enum

In [5]:
class country(Enum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672


for i in country:
    print(i.name,' :',i.value)

Afghanistan  : 93
Albania  : 355
Algeria  : 213
Andorra  : 376
Angola  : 244
Antarctica  : 672

**3. Display Enum member names ordered by their values**

Write a Python program to display all the member names of an enum class ordered by their values.

In [9]:
class country(Enum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672

ordered_members = sorted(country, key=lambda member: member.value)

for i in ordered_members:
    print(i.name)

Afghanistan
Algeria
Angola
Albania
Andorra
Antarctica